.name {
    font-size: large;
    font-weight: bold;
    margin-top: 2px;
    color: blue;
}
.fLabel {
    position: inherit;
    left: 0px;
    color: blue;
    text-align: left;
    margin-left: 5px;
}
.hideEl {
    display: none;
}
.fButton {
    background-color: mediumblue;
    color: white;
    border: none;
    padding: 5px;
    font-weight: bold;
    font-size: large;
    position: inherit;
    width: 80%;
    margin: 3px;
    left: 10%;
}
.fButton:hover {
    background-color: lightblue;
    color: mediumblue;
}
.fMiddle {
    text-align: center;
}
.lMiddle {
    text-align: center;
}
.pList {
    position: inherit;
    width: 100%;
}
.pButton {
    display: block;
    width: 100%;
    background-color: lightgray;
}
.pButtonF {
    background-color: lightskyblue;
}
.pButton:hover {
    background-color: lightskyblue;
}
.listSection {
    position: absolute;
    left: 30%;
    width: 30%;
}
iLine {
    display: block;
}
.fInput {
    position: relative;
    width: 100%;
}
.iField {
    color: black;
    background-color: lightgray;
    position: absolute;
    right: 0px;
    width: 50%;
}
.iField:hover {
    background-color: lightskyblue;
    color: black;
}
.iField:focus {
    background-color: lightskyblue;
}
.newPerForm {
    position: relative;
    left: 30%;
    width: 30%;
    border: blue;
    border-style: solid;
}
.editPerForm {
    position: relative;
    left: 0%;
    width: 100%;
    border: blue;
    border-style: solid;
}